</main>

<!-- github button for footer-->
<footer class="text-center p-3 mt-4 border-top">
  <a href="https://github.com/arsalankhan6-cpu" target="_blank" class="me-3">
    <i class="fab fa-github"></i> GitHub
  </a>

  <!-- linkedin button for footer-->
  <a href="https://www.linkedin.com/in/arsalan-khan-5b817b319/" target="_blank">
    <i class="fab fa-linkedin"></i> LinkedIn
  </a>
</footer>


<!--- loads bootstraps javascript for the mobile menu/dropdown stuff -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="/js/main.js"></script>
</body>
</html>
